@use "sass:map";

/* Vertical Navbar Setup */
.s6-navbar-vertical {
	/* move to the top z index. this is cause of the layout change for mobile */
	z-index: 1;

	/* bg color */
	background: $nav-bg-color;

	/* positioning */
	grid-area: navbar;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1rem;

	/* alignment */
	@include s6-navbar-vertical-alignment;

	/* size */
	height: 100vh;
	width: $nav-width;

	border-right: 1px solid $light-grey;
	border-bottom: none;

	& .s6-navbar-link{
		a {
			display: flex;
			@include s6-navbar-vertical-tab-size;
			@include s6-navbar-vertical-alignment;
		}
	}

	& a {
		font-family: "Inconsolata", monospace;
		color: $nav-link-color;
		text-decoration: none;
		&:hover {
			color: $accent;
		}
		&:active {
			color: $accent;
		}
	}

	& .logo-container {
		@include s6-navbar-vertical-tab-size;
		@include s6-navbar-vertical-alignment;

		width: $logo-width;
		height: auto;
		max-height: none;

		display: flex;
		justify-content: center;
		align-items: center;

		// logo img
		img {
			object-fit: cover;
			border-radius: 50%;
		}
		a {
			width: 100%;
			height: 100%;
		}
	}
	& .s6-navbar-unordered-list {
		list-style: none;
		padding: 0;
		margin: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		@include s6-navbar-vertical-alignment;
	}

	@media screen and (max-width: map.get($grid-breakpoints-bs5, md)) {
		& {
			grid-area: navbar;
			/* swap solid color for transparent one. */
			background: none;

			/* swap height and width */
			width: 100%;
			height: auto;

			/* positioning */
			position: fixed;
			bottom: 0;

			/* swap flex direction to row */
			display: flex;
			flex-direction: column;

			/* content alignment */
			justify-content: space-around;
			align-items: center;

			border-top: 1px solid $light-grey;
			border-right: none;
		}
		&::before {
			@include s6-frosted-bg;
		}

		& .logo-container {
			display: none;
		}
		& a {
			/* reduced font size for mobile */
			font-size: 1.2rem;
		}

		& .s6-navbar-unordered-list {
			display: none;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;
			width: 100%;
			transition: translate 250ms ease-in-out;
			// translate:  100% 150%;
		}

		& .s6-cart-container{
			display: none;
		}

		// This makes it so that the items when the hamburger is clicked
		&:has(.s6-invisible-input:checked) {
			& .s6-navbar-unordered-list {
				display: flex;
			}
			& .s6-cart-container{
				display: flex;
			}
		}
	}
}

@import "options-button";
