.s6-media-inspector{
    width: 75%;
    max-width: 75%;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 5px;
    display: flex;


    .s6-post-image{
        width: 60%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        position: relative;
    }

    .s6-post-details{
        width: 40%;
        height: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;

        .s6-categories-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 1rem;
        }

        .s6-post-description{
            width: 100%;
            height: 100%;
            margin: 1rem 0;
        }

        .s6-cart-options-container{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.s6-post-image {
    position: relative; // so that the child elements can be positioned absolutely relative to this wrapper.

    //? this is just the same as in the gallery.scss.. I currently dont know if i should keep it here or not
    
    

    .s6-post-brille {
        // Positioning
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        // Display
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // Opacity
        color: white;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
        transition: opacity 0.3s;
    }

    &:hover {
        .s6-post-brille {
            opacity: 1;
        }
    }
}