/* Search Bar Setup */
.section-seachbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	.searchbar-container {
		margin: .8rem;
		color: $accent-two;
		width: 100%;
		max-width: 20rem;
		/* padding: 1em; */
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		/* set as parent container */
		position: relative;


		.s6-search-icon {
			color: $dark-grey;
			position: absolute;
			left: 0.4em;
		}

		.s6-hint-color {
			color: $accent-two;
			font-weight: 600;

			// change placeholder
			&::placeholder {
				font-weight: 400;
				color: $light-green;
			}
		}
		
		input {
			text-align: left;
			width: 100%;
			color: $accent;
			background: $light-white;
			padding: 0.5em 2em;
			border: none;
			border-radius: 25px;

			&::placeholder {
				color: $light-grey;
			}
			&:focus {
				outline: none;
			}
		}
		
		.badge {
			position: absolute;
			right: 0.6em;
		}
	}
}
