@use "sass:map";

/* Mixins Setup */

@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    // border-radius: math.div($size, 2);
    border-radius: calc($size / 2);
  }
}
@mixin section-searchbar__child-dimentions{
	width: 100%;
	height: 100%;
	min-height: $section-searchbar-height;
  max-height: $section-searchbar-height;
	margin: 0;
	padding: 0 0rem;
	// background-color: $accent;
}

@mixin s6-navbar-vertical-tab-size{
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
  height: 4rem;
  max-height: 4rem;
  width: $nav-width;
	@media screen and (max-width: map.get($grid-breakpoints-bs5, md)) {
    height: 2.5rem;
    max-height: 2.5rem;
    width: $nav-width-mobile;
  }
}
  
@mixin s6-navbar-vertical-alignment{
  align-items: center;
  justify-content: center;
  vertical-align: middle;
	// justify-content: flex-start;
}

// Use this in the ::before
@mixin s6-frosted-bg{
  content: "";
  position: absolute;
  /* strech over parent element */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* add filter */
  backdrop-filter: blur(6px) saturate(10%);

  z-index: -1; /* put it behind the navbar */
}

@mixin s6-cart-checkout-child{
  border: inherit;
  border-radius: inherit;
  padding: inherit;
  margin: inherit;

  display: flex;
  flex-direction: column;        
  gap: .5rem;
  align-items: center;
}