/* s6 Helper Styles */

.#{$lib-prefix}{

	&-v-align-middle {
		vertical-align: middle;
	}
	&-v-align-top {
		vertical-align: top;
	}
	&-v-align-bottom {
		vertical-align: bottom;
	}
	
	@each $i in 1 through 10 {
		&-line-height-#{$i} {
			line-height: $i;
		}
	}
	
	// add m-top, m-bottom, m-left, m-right
	@for $i from 1 through 10 {
		&-m-top-#{$i} {
			margin-top: $i * 0.5rem;
		}
		&-m-bottom-#{$i} {
			margin-bottom: $i * 0.5rem;
		}
		&-m-left-#{$i} {
			margin-left: $i * 0.5rem;
		}
		&-m-right-#{$i} {
			margin-right: $i * 0.5rem;
		}
	}

	@for $i from 1 through 10 {
		&-gap-#{$i}{
			gap: $i * 0.5rem;
		}
	}

	&-d-flex{
		display: flex;
	}

	// error message string
	&-error-string{
		color: $error-color;
	}

	// opacity range definition from 0.0 to 1.0 in increments of 0.1
	@for $i from 0 through 10 {
		$increment: $i * 0.1;
		&-opacity-#{$i} {
			opacity: $increment;

			&.animate{
				animation: syxAnimateOpacity10 0.5s ease forwards;
				animation-delay: calc(var(--item-index) * var(--fade-in-ms)); /* Delay based on character index */
			}
		}

	}

	@for $i from 1 through 6 {
		$heading-size: 3.6rem - ($i * 0.8rem);
		$heading-weight: 900 - ($i * 100);

		&-h#{$i}-bold {
			font-family: 'Astloch-Bold', cursive;
			font-size: $heading-size;
			letter-spacing: 2px;
			font-weight: $heading-weight;
		}
	}
	
	&-no-margin{
		margin: 0;
	}

	&-no-padding{
		padding: 0;
	}

	&-debug-bg {
		background-color: $s6-debug-color;
	}

	&-debug-border {
		border: 3px solid $s6-debug-color;
	}

	&-h-100 {
		height: 100%;
	}

	&-w-100 {
		width: 100%;
	}
	
	&-text-accent {
		color: $accent;
	}
	&-bg-accent {
		color: $dark-grey;
		background-color: $accent;
	}
	
	/* s6 brightness utilities setup */
	// this makes about 20 classes of brightnesses from 5% to 100%
	@for $i from 1 through 20 {
		$increment: $i * 5;
		&-filter-brightness-#{$increment} {
			filter: brightness(1);
			transition: filter 0.2s;
			&:hover {
				filter: brightness(calc($increment / 100));
			}
		}
	}


	/* encapsulator without hover effects */
	&-encapsulator-double{
		&:before {
			content: $encapsulator-left-hover;
		}
		&:after {
			content: $encapsulator-right-hover;
		}
	}
	
	/* encapsulator with hover effects */
	&-encapsulator{
		& {
			text-transform: uppercase;
		}
		&:before,
		&:after {
			transition: content 0.8s;
			/* color: $encapsulator-color); */
		}
		&:before {
			content: $encapsulator-left;
		}
		&:after {
			content: $encapsulator-right;
		}
		&:hover:before {
			content: $encapsulator-left-hover;
		}
		&:hover:after {
			content: $encapsulator-right-hover;
		}
	}
	
	/* shop secondary content */
	&-secondary-content {
		background-color: $light-grey;
	}
	&-img-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	// this makes about 5 classes of aspect ratios from 1 to 5
	@for $i from 1 through 5 {
		$increment: $i*6;
		&-aspect-ratio-square-#{$i} {
			width: #{$increment*1}rem;
			// height: auto;
			height: #{$increment*1}rem;
		}
	}
	
	&-btn {
		background: $dark-green-2;
		color: #000000;
		font-family: "IBM 3270", monospace;
		padding: 0.1em 0.2em;
	}


	&-square-av {
		@include avatar(100px, $circle: false);
	}
	&-circle-av {
		@include avatar(100px, $circle: true);
	}
}