//! TEMPORAL VARIABLES FOR THE REACT APP. WILL LATER BE HANDLED SOMEWHERE ELSE IN THE SASS FILES

body {
	background-color: $dark-grey;
	color: $primary;
	font-family: "IBM 3270", monospace;
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
}